<!DOCTYPE html>
<html>
<head>
    <title>Instagram Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pass.css') }}">
    <style>
        .alert {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .alert-danger {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }
        .alert-success {
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }
    </style>
</head>
<body>
  <h1>Inicio de sesion exitoso</h1>
</body>
</html>